{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <h2 class ='alert alert-info text-center my-5'>Change Your Password</h2>
    <div class="row justify-content-around align-items-center">
        <div class="col-4 ">
            <form action=""  class="mt-5 " method="POST">
                {% csrf_token %}

                {% for fm in forms %}
                    {{fm.label_tag}}
                    {{fm}}
                    <small>{{fm.errors|striptags}}</small> 
                    <br><br><br>
                
                {% endfor %}
            
                <input type="submit" class="btn btn-primary my-3" value="Update">
                
            </form>
    


        </div>
    </div>
</div>
{% endblock content %}
    