{% extends "core/base.html" %}


{% block content %}

<div class="container">
    <div class="row justify-content-around  mt-5">
        <div class="col-8">
                <h2 class='alert alert-success text-center mb-3'>Project Features & Used Technologies Details</h2>
                <ul>
                    <li><p>New User Registration - UserCreationForm</p></li>
                    <li><p>Email Verification </p></li>
                    <li><p>User Login - AuthenticationForm</p></li>
                    <li><p>Reset Password - PasswordResetForm</p></li>
                    <li><p>Change Password with old Password - PasswordChangeForm</p></li>
                    <li><p>Change Password without old Password - SetPasswordForm</p></li>
                </ul>

                
                <p class='alert alert-info mt-5'>Other Features : Error Handling, Messages Handling, User Profile details Handling etc. <p>

               
            </h3>
        </div>
    </div>
</div>




    


    
{% endblock content %}
    