{% extends "core/base.html" %}


{% block content %}

<div class="container">
    <h2 class ='alert alert-info text-center mt-4'>User Registration</h2>
    <div class="row justify-content-around ">
        <div class="col-4">
            {% if messages %}
            
                {% for message in messages %}
                    {{message}}
                    
                {% endfor %}
                    
                    
            {% endif %}
            <form action=""  class="mt-5 " method="POST">
                {% csrf_token %}

                {% for form in forms %}
                    {{form.label_tag}}
                    {{form}}
                    <small>{{form.errors|striptags}}</small> 
                
                {% endfor %}
            
                <input type="submit" class="btn btn-primary my-3" value="SignUp">
                
            </form>
            


        </div>
    </div>
</div>




    


    
{% endblock content %}
    